
.vs/
*.user
*.suo
*.ntvs*
*.njsproj
*.sln.docstates


bin/
obj/
out/
debug/
release/


node_modules/
packages/
*.nupkg
*.snupkg
project.lock.json
project.assets.json
packages.lock.json
.nuget/


Migrations/
*.mdf
*.ldf
*.sqlite
*.db
app.db
app.db-shm
app.db-wal


secrets.json
*.env
.env.local


*.log
logs/
CrashReports/
error.log
dotnet_dump.*
hs_err_pid*


*.tmp
*.temp
*.bak
*.swp
*.swo
*.DS_Store
Thumbs.db


.idea/
*.dotSettings.user

/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/caches


publish/
wwwroot/images/*
!wwwroot/images/.gitkeep
wwwroot/lib/


IdentityHostingStartup.cs
